In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Loan_Data/loan_train.csv" )
df_test =  pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Loan_Data/loan_test.csv')

In [3]:
df.head(2)

   Unnamed: 0   Loan_ID  Gender  ... Credit_History Property_Area Loan_Status
0           0  LP002305  Female  ...            1.0     Semiurban           1
1           1  LP001715    Male  ...            1.0         Rural           1

[2 rows x 14 columns]

In [4]:
df = df.drop("Unnamed: 0", 1)

In [5]:
df.drop('Loan_ID',axis=1,inplace=True)
df['Gender']=df['Gender'].map({'Male':1,'Female':0})
df['Married']=df['Married'].map({'Yes':1,'No':0})
df['Education']=df['Education'].map({'Graduate':1,'Not Graduate':0})
df['Self_Employed']=df['Self_Employed'].map({'Yes':1,'No':0})
cont=pd.get_dummies(df['Property_Area'])
df=pd.concat([df,cont],axis=1)
df.drop('Property_Area',axis=1,inplace=True)
cont=pd.get_dummies(df['Dependents'])
df=pd.concat([df,cont],axis=1)
df=df.drop('Dependents',axis=1)
df.head(3)

   Gender  Married  Education  Self_Employed  ...  0  1  2  3+
0     0.0      0.0          1            0.0  ...  1  0  0   0
1     1.0      1.0          0            1.0  ...  0  0  0   1
2     0.0      1.0          1            0.0  ...  1  0  0   0

[3 rows x 17 columns]

In [6]:
df_test.drop('Loan_ID',axis=1,inplace=True)
df_test['Gender']=df_test['Gender'].map({'Male':1,'Female':0})
df_test['Married']=df_test['Married'].map({'Yes':1,'No':0})
df_test['Education']=df_test['Education'].map({'Graduate':1,'Not Graduate':0})
df_test['Self_Employed']=df_test['Self_Employed'].map({'Yes':1,'No':0})
cont=pd.get_dummies(df_test['Property_Area'])
df_test=pd.concat([df_test,cont],axis=1)
df_test.drop('Property_Area',axis=1,inplace=True)
cont=pd.get_dummies(df_test['Dependents'])
df_test=pd.concat([df_test,cont],axis=1)
df_test=df_test.drop('Dependents',axis=1)
df_test.head(3)

   Gender  Married  Education  Self_Employed  ...  0  1  2  3+
0     1.0      0.0          0            0.0  ...  1  0  0   0
1     1.0      1.0          1            0.0  ...  0  0  0   1
2     1.0      1.0          1            0.0  ...  1  0  0   0

[3 rows x 16 columns]

In [7]:
df['Self_Employed'].value_counts()
df['Self_Employed']=df['Self_Employed'].fillna(0)

In [8]:
df_test['Self_Employed'].value_counts()
df_test['Self_Employed']=df_test['Self_Employed'].fillna(0)

In [9]:
df['Gender']=df['Gender'].fillna(1)
df['Married']=df['Married'].fillna(1)
df['LoanAmount']=df['LoanAmount'].fillna(df['LoanAmount'].median())
df['Loan_Amount_Term']=df['Loan_Amount_Term'].fillna(360)
df['Credit_History']=df['Credit_History'].fillna(1)
df.isnull().sum()

Gender               0
Married              0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Loan_Status          0
Rural                0
Semiurban            0
Urban                0
0                    0
1                    0
2                    0
3+                   0
dtype: int64

In [10]:
df.head()

   Gender  Married  Education  Self_Employed  ...  0  1  2  3+
0     0.0      0.0          1            0.0  ...  1  0  0   0
1     1.0      1.0          0            1.0  ...  0  0  0   1
2     0.0      1.0          1            0.0  ...  1  0  0   0
3     1.0      1.0          0            1.0  ...  1  0  0   0
4     1.0      1.0          1            0.0  ...  0  0  1   0

[5 rows x 17 columns]

In [11]:
df_test['Gender']=df_test['Gender'].fillna(1)
df_test['Married']=df_test['Married'].fillna(1)
df_test['LoanAmount']=df_test['LoanAmount'].fillna(df['LoanAmount'].median())
df_test['Loan_Amount_Term']=df_test['Loan_Amount_Term'].fillna(360)
df_test['Credit_History']=df_test['Credit_History'].fillna(1)
df_test.isnull().sum()

Gender               0
Married              0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Rural                0
Semiurban            0
Urban                0
0                    0
1                    0
2                    0
3+                   0
dtype: int64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(['Loan_Status'],axis=1),df['Loan_Status'], train_size=0.7,test_size=0.3,random_state=100)

In [13]:
from sklearn.ensemble import RandomForestClassifier 
model = RandomForestClassifier(max_depth=4, random_state = 10) 
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [19]:
y_pred = model.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
accuracy_score(y_pred,y_test)

0.8175675675675675

In [22]:
df.to_csv('clean_train.csv')

In [23]:
df_test.to_csv('clean_test.csv')